.w100 {
    width: 100%
}

.mw786 {
    max-width: 786px;
}

.bgWhite {
    background-color: white;
}

.tac {
    text-align: center;
}

.cW {
    color: white;
}

.mt10 {
    margin-top: 10px !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: transparent !important;
}

.nav-link,
#basic-navbar-nav,
#basic-nav-dropdown,
.navbar-toggler,
.navbar-toggler-icon {
    color: white !important;
    z-index: 1000;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABkCAMAAACCTv/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////5ubmueBsSwAAAAJ0Uk5T/wDltzBKAAAAPklEQVR42uzYQQ0AAAgDseHfNC4IyVoD912WAACUm3uampqampqamq+aAAD+IVtTU1NTU1NT0z8EAFBsBRgAX+kR+Qam138AAAAASUVORK5CYII=) !important;
    z-index: 1000 !important;
}

body {
    /* background-color: rgba(169,169,169,.2) !important; */
    background-color: rgba(50, 16, 81, .5) !important
}

.MuiGrid-grid-md-1,
.MuiGrid-grid-md-2,
.MuiGrid-grid-md-3,
.MuiGrid-grid-md-4,
.MuiGrid-grid-md-5,
.MuiGrid-grid-md-6,
.MuiGrid-grid-md-7,
.MuiGrid-grid-md-8,
.MuiGrid-grid-md-9,
.MuiGrid-grid-md-10,
.MuiGrid-grid-md-12,
.MuiGrid-grid-md-12 {
    width: 100%
}

ol,
ul {
    list-style: none;
}

.lst-none {
    list-style-type: none;
}

.lst-disc {
    list-style-type: disc;
}

.w100 {
    width: 100%;
}

.mr10 {
    margin-right: 10px;
}

.mt25 {
    margin-top: 25px;
}

.p10 {
    padding: 10px;
}

.p50 {
    padding: 50px;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.projectIcon {
    font-size: 1.3em;
    margin-top: 10;
    text-align: center;
}

.vertical-timeline {
    margin-top: 0 !important;
}

@media (max-width: 767px) {
    /* #littleJordanHolder { display: none} */
    .aa_inner::after {
        content: "\A";
        white-space: pre;
    }
}

@media (min-width: 767px) {
    .basic-navbar-nav {
        height: auto !important
    }
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-date {
        color: white;
        font-size: 18px;
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date:nth-child(even) {
        left: 140% !important;
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date:nth-child(odd) {
        left: 140% !important;
    }
    .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date,
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date {
        left: auto !important;
        right: 140% !important;
        text-align: right;
    }
    .projectIcon {
        font-size: 2em;
        margin-top: 13;
        text-align: center;
    }
}