.me-image {
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.resume-me {
    padding: 15px;
}

.social-container {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.social {
    padding: 0;
}

.social li {
    display: inline-block;
    margin-right: 2px;
    text-align: center;
    padding: 0px 10px;
}

.social li i {
    line-height: 1;
    color: black;
}

.social li i:hover {
    color: #B22222;
}

.exp {
    padding-left: 50px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 10px;
    clear: both;
    height: auto;
}

.exp ul {
    display: inline-block;
}

.exp ul li {
    color: #999999;
    font-size: 16px;
}

.exp:after {
    background: #cd5353;
    border: 3px solid #ffffff;
    content: "";
    height: 15px;
    left: 12px;
    position: absolute;
    text-align: center;
    top: 24px;
    width: 15px;
}

.exp .hgroup h4,
h6 {
    margin-bottom: 0;
}

.exp .hgroup h4 {
    text-transform: none;
    font-family: 'open_sansbold', Arial, sans-serif;
}

.exp .hgroup {
    margin-bottom: 5px;
}

.exp .hgroup h6 {
    text-transform: none;
    font-size: 12px;
    color: #666666;
}

.exp .hgroup h6 i {
    color: #cccccc;
    margin-right: 5px;
}

.main-title {
    border-bottom: 1px solid #efefef;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(239, 239, 239);
    padding: 30px 10px 2px 40px;
    position: relative;
}

.main-title h1 {
    text-transform: uppercase;
    color: #000000;
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-weight: 800;
    font-size: 15px;
}

.exp .hgroup h6 span.current {
    color: #ffffff;
    background: #cd5353;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 1px 12px;
}

.resumeItem h4,
.hgroup h4 {
    color: #000000;
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 5px !important;
}

@media (min-width: 768px) {
    .resume-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 750px;
    }
}

@media (min-width: 992px) {
    .resume-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .resume-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 1170px;
    }
}